.navContainer{
    display:flex;
    height:62px;
    align-items:center;
    background:#1d2020;
    margin:0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.26);
    /* gives equal space in between all items */
    justify-content:space-between;
    z-index:99;
}

.navLeft{
    display:flex;
    align-items:center;
}

.navRight{
    margin-right:40px;
}

.navLink{
    font-size:32px;
    color:#e7e6e7;
    font-weight:800;
}

.logo{
    margin-left:20px;
    height:65px
}

.logoText{
    font-family: "Bangers", cursive;
    font-size:55px;
    letter-spacing:1px;
    margin:0 10px;
    color: #e7e6e7;
}
